
.headline-white {
    color: white;
}

:root {
    --primary: #FF8A80;
    --secondary: #FF5252;
    --custom-grey: #4e4e4e;
}

h2 {
    color: var(--custom-grey);
}

.toolbar-color {
    background-color: #FF8A80 !important;
}

